$white: #ffffff;
$black: #000000;

// best-horror-scenes
$bhs-black: #0f0f0f;
$bhs-gray: #808080;
$bhs-white: #f0f0f0;
$bhs-red-l: #e7463b;
$bhs-red-m: #da281b;
$bhs-red-d: #831d16;
$bhs-red-s: #d54137;
$bhs-width-left: 35%;
$bhs-width-right: 65%;

// rodic-davidson-architects
$rda-blue: #0000ff;

// accueil-zoo
$az-gray: #e0e1e2;

// beige
$b-mode: #e2d3b7;
$b-interior: #ba7957;
$b-beauty: #aac6b9;
$b-kultur: #c98347;
$b-reisen: #70989d;
$b-menschen: #d3a745;
$b-nachhaltig: #aeaa76;
$b-white: #f8f8f8;

// paint-box
$pb-gray-d: #414141;
$pb-gray-l: #9d9d9c;
$pb-beige-l: #fbf7f6;
$pb-beige-m: #f3ede8;
$pb-beige-d: #f9dbbe;

// ten-nineteen
$tn-gold: #af7832;

// schwartz-media
$sm-charcoal: #212020;
$sm-gray-d: #464545;
$sm-gray-l: #dce0e8;

// tolv
$t-gray: #535851;
$t-yellow: #efcb56;
$t-orange: #ff6429;
$t-beige-d: #e1c2a6;
$t-beige-l: #f7f2ea;

// donica-ida-design
$did-gray: #444444;

// canal-street-market
$csm-blue: #5ea3ec;
$csm-red: #f64444;
$csm-yellow: #ffb400;

// won-hundred
$wh-black: #020202;
