$white: #ffffff;
$black: #000000;

// best-horror-scenes
$bhs-black: #0f0f0f;
$bhs-gray: #808080;
$bhs-white: #f0f0f0;
$bhs-red-l: #e7463b;
$bhs-red-m: #da281b;
$bhs-red-d: #831d16;
$bhs-red-s: #d54137;
$bhs-width-left: 35%;
$bhs-width-right: 65%;

// rodic-davidson-architects
$rda-blue: #0000ff;

// accueil-zoo
$az-gray: #e0e1e2;

// beige
$b-mode: #e2d3b7;
$b-interior: #ba7957;
$b-beauty: #aac6b9;
$b-kultur: #c98347;
$b-reisen: #70989d;
$b-menschen: #d3a745;
$b-nachhaltig: #aeaa76;
$b-white: #f8f8f8;

// paint-box
$pb-gray-d: #414141;
$pb-gray-l: #9d9d9c;
$pb-beige-l: #fbf7f6;
$pb-beige-m: #f3ede8;
$pb-beige-d: #f9dbbe;
$pb-powderblue: #dee8e9;
