@import "_variables";

// all
* {
  box-sizing: border-box;
}
.project-name,
.uppercase {
  text-transform: uppercase;
}

// index
.index-body {
  .header {
    font-weight: 600;
    font-size: 40px;
    text-align: center;
    justify-self: center;
    height: 50px;
    color: $white;
    background-color: $black;
  }
  .grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-auto-rows: 400px;
    color: $white;
    .box {
      padding: 20px 30px;
      display: flex;
      flex-direction: column;
      text-align: center;
      align-items: center;
      justify-content: space-between;
      img {
        max-width: 100%;
        height: 300px;
        object-fit: cover;
      }
    }
    .best-horror-scenes {
      background-color: $bhs-red-d;
      &:hover {
        img {
          box-shadow: 0px 15px 20px -5px $bhs-black;
        }
      }
    }
    .rodic-davidson-architects {
      color: $black;
      background-color: $white;
      ::selection {
        background-color: $rda-blue;
        color: $white;
      }
      &:hover {
        h2 {
          color: $white;
          background-color: $rda-blue;
        }
        span {
          color: $rda-blue;
        }
      }
    }
    .accueil-zoo {
      background-color: $az-gray;
      &:hover {
        color: $white;
        h2 {
          color: $black;
        }
      }
    }
    .beige {
      background-color: $b-beauty;
      .invisible {
        display: none;
      }
      &:hover {
        .visible {
          display: none;
        }
        .invisible {
          display: block;
        }
      }
    }
    .paint-box {
      background-color: $pb-beige-d;
    }
    .ten-nineteen {
      background-color: $tn-gold;
    }
    .schwartz-media {
      background-color: $sm-charcoal;
    }
    .tolv {
      background-color: $t-orange;
    }
    .donica-ida-design {
      background-color: $did-gray;
    }
    .canal-street-market {
      background-color: $csm-yellow;
    }
    .won-hundred {
      color: $wh-black;
      background-color: $white;
    }
    .shinyelee {
      background-color: $wh-black;
    }
  }
}

// best-horror-scenes
.bhs-body {
  display: flex;
  font-weight: 600;
  background-color: $bhs-red-l;
  .bhs-header {
    width: $bhs-width-left;
    height: 100%;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: $bhs-red-l;
    background-color: $bhs-white;
    .bhs-header__title {
      margin: 60px 60px 0 60px;
      font-size: 64px;
    }
    .bhs-header__subtitle {
      margin: 0 60px 60px 60px;
    }
    .bhs-header__subtitle__1,
    .bhs-header__subtitle__2,
    .bhs-header__subtitle__3,
    .bhs-header__subtitle__4 {
      margin-top: 20px;
    }
    .bhs-header__subtitle__1 {
      font-size: 24px;
    }
    .bhs-header__subtitle__2 {
      font-size: 18px;
    }
    .bhs-header__subtitle__3 {
      display: inline-block;
      .bhs-header__subtitle__3__menu {
        margin-bottom: 10px;
        border: 0;
        a {
          padding-bottom: 3px;
          border-bottom: 1px solid;
          font-size: 14px;
          color: $bhs-gray;
          &:hover {
            color: $bhs-black;
          }
        }
      }
    }
    .bhs-header__subtitle__4 {
      color: $bhs-gray;
    }
  }
  .bhs-main {
    margin-left: $bhs-width-left;
    width: $bhs-width-right;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $white;
    background-color: $bhs-red-l;
    .bhs-main__nav {
      z-index: 1;
      width: inherit;
      height: 15%;
      position: fixed;
      top: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 18px;
      border-bottom: 1px solid $bhs-red-d;
      color: $white;
      background-color: $bhs-red-l;
      opacity: 0.95;
      .bhs-main__nav__wrap {
        padding: 20px;
        a {
          margin: 0 3px;
          padding: 0 0 3px 0;
          border-bottom: 1px solid;
          color: $bhs-red-d;
          &:hover {
            color: $white;
          }
        }
      }
    }
    .bhs-main-section {
      width: 100%;
      height: 100%;
      .bhs-main__box {
        &:first-child {
          padding-top: 145px;
        }
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background: linear-gradient($bhs-red-l, 80%, $bhs-red-s);
        .bhs-main__box__header {
          width: 100%;
          height: 15%;
          padding: 60px 0 10px 0;
          display: flex;
          align-items: flex-end;
          justify-content: space-between;
          .bhs-main__box__header__info {
            width: inherit;
            margin-right: 50px;
            flex-wrap: wrap;
            display: flex;
            align-items: flex-end;
            justify-content: space-between;
            font-size: 40px;
            .bhs-main__box__header__info2 {
              display: flex;
              .bhs-main__box__header__info__hashtag {
                width: 40px;
                padding: 5px 0 0 5px;
                color: $bhs-red-l;
                &:hover {
                  color: $bhs-red-d;
                }
              }
              .bhs-main__box__header__info__title {
                width: fit-content;
              }
            }
            .bhs-main__box__header__info__director {
              width: fit-content;
              height: fit-content;
              padding: 10px 0 0 50px;
              font-size: 14px;
            }
          }
        }
        .bhs-main__box__movie {
          padding: 20px 0;
          display: flex;
          justify-content: center;
          .bhs-main__box__movie__no {
            position: relative;
            top: 40px;
            left: 45px;
            width: 50px;
            height: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 24px;
            background-color: $bhs-red-m;
            box-shadow: 0px 3px 10px 0px $bhs-black;
            .bhs-main__box__movie__no__hashtag {
              font-size: 16px;
            }
            .bhs-main__box__movie__no__num {
              font-size: 24px;
            }
          }
          .bhs-main__box__movie__img {
            display: flex;
            width: 90%;
            max-width: 1280px;
            box-shadow: 0px 35px 40px -40px $bhs-black;
            img {
              width: 100%;
            }
          }
          .bhs-main__box__movie__vote {
            width: 50px;
            float: right;
            div {
              height: 40px;
              display: flex;
              justify-content: center;
              align-items: center;
              background-color: $bhs-red-m;
            }
          }
        }
        .bhs-main__box__footer {
          padding: 0 60px 60px 60px;
          .bhs-main__box__footer__article {
            margin-top: 20px;
          }
          .bhs-main__box__footer__by {
            margin-top: 20px;
            display: flex;
            justify-content: space-between;
            .bhs-main__box__footer__by_rating {
              text-align: end;
              color: $bhs-red-d;
            }
          }
          .bhs-main__box__footer__comment {
            margin-top: 20px;
            display: flex;
            justify-content: space-between;
            color: $bhs-red-d;
            .bhs-main__box__footer__comment__leave {
              text-align: end;
              a {
                padding: 0 0 3px 0;
                border-bottom: 2px solid;
                color: $bhs-red-d;
              }
            }
          }
        }
      }
    }
  }
}

// rodic-davison-architects
.rda-body {
  display: grid;
  grid-template-columns: 1fr 4fr; // rda-logo : rda-main
  ::selection {
    background-color: $rda-blue;
    color: $white;
  }
  a:hover,
  .rda-logo:hover,
  .rda-main__content--with-photo:hover {
    color: $rda-blue;
  }
  @media (max-width: 960px) {
    .rda-logo {
      visibility: hidden;
    }
    .rda-main {
      grid-area: 1 / 1 / 3 / 3;
    }
  }
  .rda-logo {
    height: 50px;
    padding: 10px;
    display: flex;
    position: sticky;
    top: 0;
    align-items: center;
    justify-content: flex-start;
    font-weight: 600;
  }
  .rda-main {
    display: grid;
    grid-template-columns: repeat(2, 1fr); // content : content
    gap: 15px;
    @media (max-width: 1280px) {
      .rda-main__content {
        grid-column: 1 / 3;
      }
    }
    .rda-main__nav {
      grid-column: span 2;
      height: 50px;
      display: flex;
      position: sticky;
      top: 0;
      align-items: center;
      justify-content: flex-start;
      background-color: $white;
      .rda-main__nav__ul {
        display: flex;
        .rda-main__nav__ul__li {
          margin-right: 10px;
        }
      }
    }
    .rda-main__content {
      img {
        max-width: 100%;
        height: auto;
        margin: 10px 0;
      }
      h2 {
        margin: 10px 0;
      }
      p {
        margin: 10px 0;
      }
    }
  }
}

// accueil-zoo
.az-body {
  .az-header {
    width: 100%;
    height: 50px;
    display: grid;
    position: fixed;
    top: 0;
    grid-template-columns: repeat(3, 1fr); // left 2 : right 1
    font-size: 28px;
    font-weight: 600;
    background-color: $white;
    @media (max-width: 960px) {
      .hidden {
        visibility: hidden;
      }
    }
    .az-header__left {
      grid-column: 1 / 3;
      &:hover {
        color: $white;
        background-color: $az-gray;
        .az-header__left__ul__li:first-child {
          color: $black;
        }
      }
      .az-header__left__ul {
        height: 100%;
        display: flex;
        align-items: center;
        .az-header__left__ul__li {
          padding: 0 20px;
        }
      }
    }
    .az-header__right {
      &:hover {
        background-color: $az-gray;
      }
      .az-header__right__ul {
        height: 100%;
        display: flex;
        align-items: center;
        .az-header__right__ul__li {
          padding: 0 10px;
        }
      }
    }
  }
  .az-main {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 45vh;
    @media (max-width: 1440px) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media (max-width: 960px) {
      grid-template-columns: 1fr;
      grid-auto-rows: 70vh;
    }
    @media (max-width: 640px) {
      grid-template-columns: 1fr;
      grid-auto-rows: 50vh;
    }
    .az-main__box {
      height: 100%;
      display: grid;
      grid-template-rows: 12fr 1fr;
      .az-main__box__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center center;
        overflow: hidden;
      }
      .az-main__bottom {
        display: flex;
        align-items: center;
        padding-left: 10px;
        .az-main__bottom__text {
          font-size: 14px;
        }
      }
    }
  }
}

// beige
.b-body {
  width: 100%;
  img {
    object-fit: cover;
  }
  h3,
  h4 {
    text-decoration: underline;
  }
  .b-circle {
    width: 16px;
    height: 16px;
    margin: 3px;
    border-radius: 50%;
  }
  .b-mode {
    background-color: $b-mode;
  }
  .b-interior {
    background-color: $b-interior;
  }
  .b-beauty {
    background-color: $b-beauty;
  }
  .b-kultur {
    background-color: $b-kultur;
  }
  .b-reisen {
    background-color: $b-reisen;
  }
  .b-menschen {
    background-color: $b-menschen;
  }
  .b-nachhaltig {
    background-color: $b-nachhaltig;
  }
  .b-white {
    background-color: $b-white;
  }
  .b-header {
    height: 40px;
    width: inherit;
    padding: 0 10px;
    position: fixed;
    top: 0;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $white;
    .b-header__logo {
      font-size: 32px;
      font-weight: 600;
    }
    .b-header__nav {
      .b-header__nav__ul {
        display: flex;
        .b-header__nav__ul__li {
          margin: 0;
          display: flex;
          align-items: center;
          font-size: 22px;
          .b-menu {
            margin-right: 8px;
          }
          @media (max-width: 1024px) {
            .b-menu {
              display: none;
            }
          }
        }
      }
    }
  }
  .b-grid {
    width: inherit;
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-auto-rows: 500px;
    font-size: 14px;
    .b-grid__box {
      height: inherit;
      display: flex;
      position: relative;
      flex-direction: column;
      align-items: center;
      .underline:hover {
        text-decoration: underline;
      }
      .b-grid__box__top,
      .b-grid__box__bottom {
        width: 100%;
        height: 18%;
        padding: 20px;
        display: flex;
        z-index: 1;
        justify-content: space-between;
      }
      .b-grid__box__bottom {
        align-items: flex-end;
      }
      .b-grid__box__content {
        height: 64%;
        font-size: 18px;
        &:hover {
          .b-visible {
            display: none;
          }
          .b-invisible {
            display: flex;
          }
          .b-invisible-photo {
            display: block;
            overflow: hidden;
            img {
              width: 100%;
              height: 100%;
              position: absolute;
              top: 0;
              left: 0;
              z-index: 0;
              background-image: url("https://source.unsplash.com/random/500x500");
              background-position: center center;
              background-size: cover;
            }
          }
        }
        .b-visible,
        .b-invisible {
          height: 100%;
          padding: 0 30px;
          display: flex;
          text-align: center;
          align-items: center;
        }
        .b-visible {
          flex-direction: column;
          align-items: center;
          img {
            width: 60%;
            height: 67%;
          }
          span {
            width: 80%;
            height: 33%;
            display: flex;
            text-align: center;
            align-items: center;
          }
        }
        .b-invisible {
          display: none;
          font-style: italic;
        }
        .b-invisible-photo {
          display: none;
        }
        .b-grid__box__content__newsletter {
          height: 100%;
          text-align: center;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          h2 {
            width: 67%;
            padding-top: 30px;
            font-size: 26px;
          }
          .b-grid__box__content__newsletter__color {
            padding: 20px 0 50px 0;
            display: flex;
            align-items: center;
            justify-content: center;
            .b-circle {
              width: 13px;
              height: 13px;
              margin: 0 5px;
            }
          }
          input {
            border: 1px solid black;
            width: 67%;
            padding: 10px 0 5px 0;
            background-color: $b-white;
            &::placeholder {
              text-align: center;
              font-size: 16px;
            }
          }
          h3 {
            padding: 35px 0 0 0;
            font-size: 16px;
          }
        }
      }
    }
  }
  .b-footer {
    height: 100px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    section {
      margin: 24px 20px;
    }
    .b-footer__center {
      text-align: center;
    }
    .b-footer__right {
      text-align: end;
    }
  }
}

// paint-box
.pb-body {
  border: 1px dashed black;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  li,
  span {
    font-size: 12px;
    text-transform: uppercase;
  }
  // @media (max-width: 960px) {
  //   .pb-header {
  //   }
  //   .pb-main__box {
  //     .pb-main__box__img {
  //       grid-area: 1 / 1 / 2 / 3;
  //     }
  //   }
  // }
  .pb-header {
    border: 1px solid green;
    width: 85%;
    height: 75px;
    position: fixed;
    top: 0;
    z-index: 1;
    opacity: 0.9;
    background-color: $white;
    .pb-header__nav {
      height: inherit;
      display: flex;
      justify-content: space-between;
      .pb-header__nav__ul-left,
      .pb-header__nav__ul,
      .pb-header__nav__ul-right {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .pb-header__nav__ul-left__li:first-child {
          margin-right: 45px;
        }
        .pb-header__nav__ul-right__li {
          margin-left: 30px;
        }
      }
    }
  }
  .pb-main {
    border: 1px solid blue;
    height: inherit;
    width: 85%;
    display: flex;
    flex-direction: column;
    align-items: center;
    .pb-main__box {
      border: 1px solid orange;
      margin-top: 75px;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      .pb-main__box__img {
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      .pb-main__box__text {
      }
    }
  }
  .pb-footer {
    border: 1px solid red;
    width: 100%;
  }
}
