@import "_variables";

body {
  height: 430vh;
  display: flex;
  background-color: $gray-l;
}

header {
  width: 40%;
  height: 820px;
  padding: 90px 60px 50px 60px;
  top: 0;
  z-index: 1;
  position: sticky;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: $red-l;
  background-color: $gray-l;
  h1 {
    font-size: 60px;
    font-weight: 600;
  }
  .subtitles {
    .subtitle {
      margin: 30px 0;
    }
    .subt__1 {
      font-size: 24px;
    }
    .subt__2 {
      font-size: 18px;
    }
    .subt__menu {
      span {
        color: $gray-d;
        text-decoration: underline;
        &:hover {
          color: $black;
        }
      }
    }
    .subt__3 {
      font-size: 12px;
    }
    nav,
    .subt__3 {
      color: $gray-d;
    }
  }
}

main {
  width: 100%;
  color: $white;
  background-color: $red-l;
  nav {
    top: 0;
    z-index: 1;
    position: sticky;
    padding: 60px;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    border-bottom: 1px solid $red-m;
    opacity: 0.9;
    background-color: $red-l;
    a {
      color: $red-d;
      text-decoration: underline;
      &:hover {
        color: $white;
      }
    }
  }
  .movie {
    z-index: -1;
    padding: 60px 50px;
    font-weight: 600;
    box-shadow: 0px -50px 150px -15px rgba(131, 29, 22, 0.5);
    .movie__info {
      width: 100%;
      margin-right: 100px;
      display: flex;
      justify-content: space-between;
      .movie__info__title {
        font-size: 40px;
      }
      .movie__info__director {
        align-self: flex-end;
      }
    }
    .movie__num {
      position: relative;
      top: 100px;
      right: 5px;
      width: 55px;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 24px;
      background-color: $red-m;
      box-shadow: 0px 3px 10px 0px $black;
    }
    .movie__play {
      padding: 25px 0 25px 0;
      display: flex;
      justify-content: center;
      .movie__play__screen {
        width: fit-content;
        height: 430px;
        background-color: $black;
        box-shadow: 0px 35px 40px -40px $black;
      }
      .movie__play__scroll {
        width: 50px;
        float: right;
        .movie__play__scroll__up,
        .movie__play__scroll__num,
        .movie__play__scroll__down {
          height: 40px;
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: $red-m;
        }
      }
    }
    .movie__rating {
      padding: 25px 50px 25px 0;
      display: flex;
      justify-content: flex-end;
      color: $red-d;
    }
  }
  .movie__comment {
    padding: 25px 50px 0 0;
    display: flex;
    justify-content: space-between;
    color: $red-d;
  }
}
