@import "_variables";

// all
h1 {
  text-transform: uppercase;
}

// index
.header {
  font-size: 40px;
  font-weight: 600;
  text-align: center;
  justify-self: center;
  height: 60px;
  margin: 20px 0;
}
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-auto-rows: 400px;
  color: $white;
  .box {
    padding: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    h2 {
      text-transform: uppercase;
    }
    img {
      width: 250px;
      height: 300px;
      object-fit: cover;
    }
  }
  .best-horror-scenes {
    background-color: $bhs-red-l;
    &:hover {
      background-color: $bhs-red-d;
      img {
        box-shadow: 0px 15px 20px -5px $bhs-black;
      }
    }
  }
  .paint-box {
    background-color: $pb-beige-d;
    img {
      transform: scale(1);
      transition: transform 0.5s;
      &:hover {
        transform: scale(1.25);
        transition: transform 0.5s;
      }
    }
  }
  .ten-nineteen {
    background-color: $tn-gold;
  }
  .accueil-zoo {
    background-color: $az-gray;
  }
  .schwartz-media {
    background-color: $sm-charcoal;
  }
  .tolv {
    background-color: $t-orange;
  }
  .rodic-davidson-architects {
    background-color: $rda-blue;
  }
  .beige {
    background-color: $b-olive;
  }
  .donica-ida-design {
    background-color: $did-gray;
  }
  .canal-street-market {
    background-color: $csm-yellow;
  }
  .won-hundred {
    background-color: $wh-black;
  }
  .shinyelee {
    color: $black;
    img {
      width: 280px;
    }
  }
}

// best-horror-scenes
.bhs-body {
  display: flex;
  font-weight: 600;
  background-color: $bhs-red-l;
  .bhs-header {
    width: $bhs-width-left;
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: $bhs-red-l;
    background-color: $bhs-white;
    .bhs-header__title,
    .bhs-header__subtitle {
      margin: 60px;
    }
    .bhs-header__subtitle__1,
    .bhs-header__subtitle__2,
    .bhs-header__subtitle__3,
    .bhs-header__subtitle__4 {
      margin-top: 20px;
    }
    .bhs-header__title {
      font-size: 60px;
    }
    .bhs-header__subtitle__1 {
      font-size: 24px;
    }
    .bhs-header__subtitle__2 {
      font-size: 18px;
    }
    .bhs-header__subtitle__3 {
      display: inline-block;
      .bhs-header__subtitle__3__menu {
        margin-bottom: 10px;
        border: 0;
        a {
          padding-bottom: 3px;
          border-bottom: 1px solid;
          font-size: 14px;
          color: $bhs-gray;
          &:hover {
            color: $bhs-black;
          }
        }
      }
    }
    .bhs-header__subtitle__4 {
      color: $bhs-gray;
    }
  }
  .bhs-main {
    margin-left: $bhs-width-left;
    width: $bhs-width-right;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $white;
    background-color: $bhs-red-l;
    .bhs-main__nav {
      width: inherit;
      height: 15%;
      position: fixed;
      top: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 18px;
      color: $white;
      background-color: $bhs-red-m;
      opacity: 0.9;
      .bhs-main__nav__wrap {
        padding: 20px;
        a {
          margin: 0 3px;
          padding: 0 0 3px 0;
          border-bottom: 1px solid;
          color: $bhs-red-d;
          &:hover {
            color: $white;
          }
        }
      }
    }
    .bhs-main__box {
      margin-top: 15vh;
      box-shadow: 0px -50px 150px -15px $bhs-red-d;
      border: 3px dashed white;
      .bhs-main__box__header {
        border: 3px dashed yellow;
        width: 100%;
        height: 15%;
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        .bhs-main__box__header__info {
          font-size: 40px;
          .bhs-main__box__header__info__hashtag {
            color: $bhs-red-l;
            &:hover {
              color: $bhs-red-d;
            }
          }
          // .bhs-main__box__header__info__title {
          // }
        }
        // .bhs-main__box__header__director {
        // }
      }
      .bhs-main__box__movie {
        border: 3px dashed green;
        display: flex;
        .bhs-main__box__movie__no {
          // position: relative;
          // top: 100px;
          // right: 5px;
          width: 55px;
          height: 40px;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 24px;
          background-color: $bhs-red-m;
          box-shadow: 0px 3px 10px 0px $bhs-black;
          .bhs-main__box__movie__no__hashtag {
            font-size: 16px;
          }
          .bhs-main__box__movie__no__num {
            font-size: 24px;
          }
        }
        // img {
        // }
        .bhs-main__box__movie__vote {
          width: 50px;
          float: right;
          div {
            height: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: $bhs-red-m;
          }
        }
      }

      .bhs-main__box__footer {
        border: 3px dashed blue;
        .bhs-main__box__footer__article {
        }
        .bhs-main__box__footer__by {
          .bhs-main__box__footer__by__who {
          }
          .bhs-main__box__footer__by_rating {
            display: flex;
            justify-content: flex-end;
            color: $bhs-red-d;
          }
        }
        .bhs-main__box__footer__comment {
          display: flex;
          justify-content: space-between;
          color: $bhs-red-d;
          .bhs-main__box__footer__comment__no {
          }
          .bhs-main__box__footer__comment__leave {
          }
        }
      }
    }
  }
}
